.overlay {
  position: fixed;
  inset: 0;
  z-index: 10;
  background-color: rgb(0 0 0 / 60%);
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20;
  box-sizing: border-box;
  width: 720px;
  max-width: calc(100% - 32px);
  max-height: calc(100vh - 48px);
  overflow: auto;
  background-color: #1c1c21;
  border-radius: 40px;
  transform: translate(-50%, -50%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 64px;
  padding: 40px 40px 0;
}

.header h2 {
  margin: 0;
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
}
